# the active network config written by `make <network>`; .env.<network> files are tracked
.env
.vscode/
db_data
wallet_data
certificates
node_modules
modules
ssl
build_k8s
.DS_Store
google-credentials.json
smoke-results
